@page "/bookDB/{Isbn:int?}"
@using OOP2_FinalProject.Data
@inject NavigationManager navigation
@inject Data.BookService BookDatabase

<h3>Books</h3>

<h3>@(Isbn.HasValue? "Edit Item":"AddItem")</h3>

@if (!string.IsNullOrEmpty(BookErrorMessage))
{
    <div>@BookErrorMessage</div>
}

<EditForm Model="@book" OnValidSubmit="SaveBook">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <label for="Isbn">ISBN</label>
    <InputText id="Isbn" @bind-Value="@book.Isbn"></InputText>
    <label for="Title">Title</label>
    <InputText id="Title" @bind-Value="@book.Title"></InputText>
    <label for="Author">Author</label>
    <InputText id="Author" @bind-Value="@book.Author"></InputText>
    <label for="Genre">Genre</label>
    <InputText id="Genre" @bind-Value="@book.Genre"></InputText>
    <button type="submit">Submit</button>
</EditForm>

@code {
    [Parameter]
    public int? Isbn { get; set; }
    private string BookErrorMessage;
    private Book book = new Book();
    private string tempIsbn;

    private async Task SaveBook()
    {
        try
        {
            await BookDatabase.SaveBookAsync(book);
            navigation.NavigateTo("/");
        }
        catch (Exception e)
        {
            BookErrorMessage = e.Message;
        }
    }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (Isbn.HasValue)
            {
                book = await BookDatabase.GetBookAsync(Isbn.Value);
            }
        }
        catch (Exception e)
        {
            BookErrorMessage = e.Message;
        }
    }
}
