@page "/"
@inject Data.LibraryService LibraryDatabase
@using OOP2_FinalProject.Data

<h1>Book Rentals</h1>

<div class="flex-rent">
    <div>
        @if (!string.IsNullOrEmpty(RentalErrorMessage))
        {
            <p>@RentalErrorMessage</p>
        }
    </div>

    <div>
        <table>
        <thead>
            <tr>
                <th>Library Card Number</th>
                <th>ISBN</th>
                <th>Date Borrowed</th>
                <th>Return Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (rentals != null)
            {
                foreach (var rental in rentals)
                {
                    <tr>
                        <td>@rental.LibNum</td>
                        <td>@rental.Isbn</td>
                        <td>@rental.BorrowDate</td>
                        <td>@rental.ReturnDate</td>
                        <td class="actions">
                            <a class="pseudo-btn" id="edit" href="/RentalDB/@rental.RentNum">Edit Rental</a>
                            |
                            <a class="pseudo-btn" id="return" @onclick="()=>ReturnBook(rental)">Return Book</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
        </table>
    </div>

    <div><a class="add" href="/RentalDB">Borrow a Book</a></div>
</div>


@code {
    private List<Rental> rentals;
    private string RentalErrorMessage;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            rentals = await LibraryDatabase.GetRentalsListAsync();
        }
        catch (Exception e)
        {
            RentalErrorMessage = e.Message;
        }
    }

    private async Task ReturnBook(Rental rental)
    {
        try
        {
            await LibraryDatabase.ReturnBookAsync(rental);
            rentals = await LibraryDatabase.GetRentalsListAsync();
        }
        catch (Exception e)
        {
            RentalErrorMessage = e.Message;
        }
    }
}